.row {
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
}

.desc {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 10px;
}

.panel {
	padding: 10px;
}

h2 {
  cursor: pointer;
}